.p {
    white-space: pre-wrap;
    word-break: break-word;
}

/* adding an actual nav bar */
ul.nav-links {
    list-style-type: none;
    margin: 0;
    margin-bottom: 3em;
    padding: 0;
    overflow: hidden;
    /* background-color: #333333; */
}

li.nav-link {
    float: left;
}

li.nav-link a {
    display: block;
    /* color: white; */
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li.nav-link a:hover {
    background-color: #999999;
}

div.postmeta {
    font-size: small;
    line-height: 1.2 !important;
    border-color: darkgrey;
    border-style: dotted;
    border-radius: 10px;
    padding: 1em;
}