<span class="meta-post">
  {{- $lastmod := .Lastmod.Format ( .Site.Params.dateformat | default "Jan 2, 2006") }}
  {{- $pubdate := .PublishDate.Format ( .Site.Params.dateformat | default "Jan 2, 2006") }}
  <i class="fa fa-calendar-alt"></i>
  Published: {{ $pubdate }}
  {{- if ne $lastmod $pubdate }}
  (Updated: {{ $lastmod }})
  {{- end }}
  {{ if .Params.series }}
  <br>
  Part of a Series: <a href="{{ $.Site.BaseURL }}series/{{ .Params.series | urlize }}/">{{ .Params.series }}</a>&nbsp;
  {{ end }}
  {{ if .Params.categories }}
  <br>
  Categories:
  {{ range .Params.categories }}
  <a href="{{ $.Site.BaseURL }}categories/{{ . | urlize }}/">{{ . }}</a>&nbsp;
  {{ end }}
  {{ end }}
  {{ if .Params.tags }}
  <br>
  Tags:
  {{ range .Params.tags }}
  <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
  {{ end }}
  {{ end }}
</span>